<<<<<<< HEAD
h1{
    font-size: 200px;
    color: aquamarine;
}
=======
h1 {
  font-size: 60px;
  font-family: 'Yu Mincho';
  color: gold;
}
>>>>>>> 8e0d266d931705eeb737bc99b214643f15557a23
